<div align="center">
    <img src="assets/background-top.png" alt="Nequi">
</div> 

<div class="box">

    <div class="table table-responsive table-bordered">

        <div id="container1">

            <div id="col1">

                <app-menu></app-menu>

            </div>
            <div id="col2">

                <br/><br/><br/><br/><br/>
            
                <div align="center">
                    <img src="assets/logo-nequi.png" alt="Nequi">
                </div>

            </div>
        </div>
    </div>

</div>              