<div class="row m-b-18px">
    <div class="col-md-12">
        <a (click)="readUsers()" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-list'></span> Read Users
        </a>
    </div>
</div>
 
<div class="row">
<div class="col-md-12">
 
<!-- HTML form for creating a user -->
<form [formGroup]="update_user_form" (ngSubmit)="updateUser()">
<table class='table table-hover table-responsive table-bordered'>

    <tr>
        <td>Peoplesoft</td>
        <td>
            <input formControlName="id"
                type='text' name='id' readonly
                class='form-control' required />
 
            <!-- show this error if the field is 'touched' and 'empty' -->
            <div
                *ngIf="update_user_form.get('id').touched && update_user_form.get('id').hasError('required')"
                class="alert alert-danger">
                Peoplesoft is required.
            </div>
        </td>
    </tr>
 
    <tr>
        <td>Username</td>
        <td>
            <input formControlName="username"
                type='text' name='username' readonly
                class='form-control' required />
 
            <!-- show this error if the field is 'touched' and 'empty' -->
            <div
                *ngIf="update_user_form.get('username').touched && update_user_form.get('username').hasError('required')"
                class="alert alert-danger">
                Username is required.
            </div>
        </td>
    </tr>
 
    <tr>
        <td>Phone Number</td>
        <td>
            <input
                formControlName="phone_number"
                name='phone_number' class='form-control' required />
 
            <!-- show this error if the field is 'touched' and 'empty' -->
            <div
                *ngIf="update_user_form.get('phone_number').touched && update_user_form.get('phone_number').hasError('required')"
                class="alert alert-danger">
                Phone number is required.
            </div>
        </td>
    </tr>
 
    <tr>
        <td>Email</td>
        <td>
            <input
                formControlName="email"
                name='email' class='form-control' />
 
            <!-- show this error if the field is 'touched' and 'empty' -->
            <div
                *ngIf="update_user_form.get('email').touched && update_user_form.get('email').hasError('required')"
                class="alert alert-danger">
                Email is required.
            </div>
        </td>
    </tr>

    <tr>
        <td>Area</td>
        <td>
            <input
                formControlName="area"
                name='area' class='form-control' />
 
            <!-- show this error if the field is 'touched' and 'empty' -->
            <div
                *ngIf="update_user_form.get('area').touched && update_user_form.get('area').hasError('required')"
                class="alert alert-danger">
                Area is required.
            </div>
        </td>
    </tr>
 
    <tr>
        <td>Status</td>
        <td>
            <select formControlName="status" name='status' class='form-control'>
                <option
                    *ngFor="let a of actives"
                    [selected]="status==a.id"
                    value='{{a.id}}'>
                    {{a.text}}
                </option>
            </select>            
            
            <!-- show this error if the field is 'touched' and 'empty' -->
            <div
                *ngIf="update_user_form.get('status').touched && update_user_form.get('status').hasError('required')"
                class="alert alert-danger">
                Status is required.
            </div>
        </td>
    </tr>

    <tr>
        <td>Role</td>
        <td>
            <select formControlName="fk_roles" name='fk_roles' class='form-control'>
                <option
                    *ngFor="let role of roles"
                    [selected]="fk_roles==role.id"
                    value='{{role.id}}'>
                    {{role.rolename}}
                </option>
            </select>
 
            <!-- show this error if the field is 'touched' and 'empty' -->
            <div
                *ngIf="update_user_form.get('fk_roles').touched && update_user_form.get('fk_roles').hasError('required')"
                class="alert alert-danger">
                Role is required.
            </div>
        </td>
    </tr>
 
    <tr>
        <td></td>
        <td>
            <!-- Submit buttons is [disabled] if form is invalid. -->
            <button class="btn btn-primary" type="submit" [disabled]="update_user_form.invalid">
                <span class="glyphicon glyphicon-edit"></span> Update
            </button>
        </td>
    </tr>
 
</table>
</form>
 
</div>
</div>