<div class="row">
    <div class="col-md-12">
 
        <!-- HTML table for our list of user records -->
        <table class='table table-hover table-responsive table-bordered'>
 
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
 
            <!-- Use *ngFor directive to loop throught our list of users. -->
            <tr *ngFor="let batch of pagedItems">
                <td>{{batch.name}}</td>
                <td>{{batch.wr_date | date: 'medium'}}</td>
                <td>{{batch.file_type}}</td>
                <td>
                    <!-- read one unified button 
                    <a (click)="readOneUnified(batch.id)" class='btn btn-primary m-r-5px'>
                        <span class='glyphicon glyphicon-eye-open'></span> Read
                    </a>
                    -->                    
                    <!-- download batch button -->
                    <a (click)="downloadFile(batch.name,batch.file_type)" class='btn btn-info m-r-5px'>
                        <span class='glyphicon glyphicon-download'></span> Download
                    </a>
                    
                </td>
            </tr>
        </table>

        <div align="center">
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

    </div>
</div>